<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Files</title>
</head>
<body>
    <% files.forEach(function(file) { %> 
	<a href="https://app.videas.fr/embed/media/<%=file.uid%>/"> 
            <%= file.name %>
	</a><br>
    <% }); %>
</body>
</html>
